/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration:none;
}

html {
  /* background-color: rgba(0,0,0,0.1); */
  background-color:rgba(150,150,150,0.5);
  background-image: 
  linear-gradient(0deg, transparent 9%, 
    rgba(255, 255, 255, .3) 10%, rgba(255, 255, 255, .3) 12%, transparent 13%, transparent 29%, 
    rgba(255, 255, 255, .2) 30%, rgba(255, 255, 255, .2) 31%, transparent 32%, transparent 49%, 
    rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 51%, transparent 52%, transparent 69%, 
    rgba(255, 255, 255, .2) 70%, rgba(255, 255, 255, .2) 71%, transparent 72%, transparent 89%,
    rgba(255, 255, 255, .2) 90%, rgba(255, 255, 255, .2) 91%, transparent 92%, transparent),
  linear-gradient(90deg, transparent 9%, 
    rgba(255, 255, 255, .3) 10%, rgba(255, 255, 255, .3) 12%, transparent 13%, transparent 29%, 
    rgba(255, 255, 255, .2) 30%, rgba(255, 255, 255, .2) 31%, transparent 32%, transparent 49%, 
    rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 51%, transparent 52%, transparent 69%, 
    rgba(255, 255, 255, .2) 70%, rgba(255, 255, 255, .2) 71%, transparent 72%, transparent 89%,
    rgba(255, 255, 255, .2) 90%, rgba(255, 255, 255, .2) 91%, transparent 92%, transparent);
  background-size:50px 50px;
  background-attachment: fixed;
}
