.field{
  font-size:14px;
  margin:2px;
}


.user-field {
  width: 200px;
  height:30px;
  font-size:12px;
  border:1px solid #c77812;
  border-radius: 5px;
  margin:2px;
  padding-left:10px;
}

.edit-content {
  width:70%;
  margin: 20px auto;
  background-color:rgba(255,200,200,0.7);
  border-radius: 25px;
  padding:10px 40px;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
}

.edit-content p{
  font-size:14px;
}

.p-notice {
  border-bottom:1px dashed #c77812;
}

.edit-justify{
  display:flex;
  justify-content: space-between;

}

.edit-justify-box1{
  width:250px;
}

.edit-justify-box2{
  width:calc(100% - 250px);
  border-radius: 25px;
}